<nav>
    <div class="wrapper">
        <a class="logo" href="/#top">RELECL<span class="orange">O</span>UD</a>
        <input id="menu-btn" name="slider" type="radio" />
        <input id="close-btn" name="slider" type="radio" />
        <ul class="nav-links">
            <label class="btn close-btn" for="close-btn"><i class="fas fa-times"></i></label>
            <li><a href="inicio">H<span class="orange">o</span>me</a></li>
            <li><a href="about">Destinati<span class="orange">o</span>ns</a></li>
            <li><a href="reviews">Reviews</a></li>
        </ul>
        <label class="btn menu-btn" for="menu-btn"><i class="bi bi-list"></i></label>
    </div>
</nav>
